/* RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* CODE */

html {
  scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
}
* {
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
  /* border: 1px dotted red; */
}
.hero {
  position: relative;

  background-image: linear-gradient(to right,
                                    rgba(0, 0, 0, 1) 20%,
                                    rgba(0, 0, 0, 0.5)),
                    url(assets/heroBackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow-x: hidden;

  width: 100%;
  height: 710px;
  padding-top: 20px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 110px;
}
.logo {
  width: clamp(175px, 40vw, 225px);
  height: auto;
}
.navegacao {
  display: flex;
  justify-content: space-evenly;
  
  width: 50vw;
  padding: 0;
  list-style-type: none;
}
.navegacao a {
  position: relative;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
}
.navegacao a:hover {
  color: red;
}
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  text-decoration: none;
  text-wrap: nowrap;
  color: white;
  font-weight: bold;

  background-image: linear-gradient(to right, hsl(120, 73%, 75%), hsl(120, 50%, 50%));
  padding: 20px 25px;
  width: 200px;
  max-width: 250px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: 0.5s;
}
.cta-fora-do-header {
  font-size: 1.1rem;
  max-width: 200px;
}
.cta:hover {
  transform: translateY(-10px);
}
.icone-telefone {
  width: 22px;
}
.texto-do-hero h1 {
  font-family: 'Poppins';
  font-size: clamp(35px, 10vw, 3rem);
  line-height: 1.1;

  color: rgba(255, 255, 255, 0.9);
}
.texto-do-hero p {
  font-family: 'Poppins';
  font-size: (1rem, 10vw, 1.3rem);

  color: rgba(255, 255, 255, 0.8);
}
.texto-do-hero {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: clamp(200px, 90vw, 550px);

  position: absolute;
  top: 50%;
  left: clamp(10px, 10vw, 165px);
  transform: translateY(-50%);
}
.menu {
  display: none;
  cursor: pointer;

  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;

  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  width: 45px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.4);
}

/* SOBRE */

.secao {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px 25px;
  background-color: rgb(250, 250, 250);
}
.sobre {
  background: rgb(245, 245, 245);
}
.pessoa-comprando {
  width: clamp(250px, 30%, 350px);
  border-radius: 10px;
  box-shadow: 0 0 5px 3px #999;
}
.sobre .texto-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: clamp(260px, 85vw, 600px);
}
h2 {
  font-size: clamp(1rem, 15vw, 2.5rem);
  color: red;
  text-align: center;
  line-height: 1.2;
}
p {
  color: #555;
  font-size: clamp(0.8rem, 5vw, 1.2rem);
}
strong {
  color: #777;
}

/* PRODUTOS */

.imagem-produtos {
  width: clamp(280px, 40vw, 450px);
}
.produtos .texto-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: clamp(260px, 85vw, 600px);
}
span {
  color: red;
  font-weight: bold;
}

/* LOCALIZAÇÃO */

.localizacao {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.localizacao h2 {
  font-size: clamp(1rem, 11vw, 2.5rem);
  color: white;
  font-style: italic;
}
.localizacao p {
  color: white;
  text-align: center;
  font-size: clamp(0.8rem, 8vw, 1.2rem);
}
.localizacao .texto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: clamp(100px, 85vw, 550px);
}
.google-maps {
  width: clamp(100px, 80vw, 600px);
  height: clamp(225px, 30vh, 250px);
  border-radius: 10px;
}
.icone-whatsapp-branco {
  width: clamp(50px, 10vw, 60px);
  margin-bottom: 12px;
}
.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a.cta-whatsapp {
  color:hsl(120, 73%, 75%);
  font-size: clamp(1rem, 25vw, 1.8rem);
  font-weight: bold;
  text-decoration: none;
}
p.numero-de-whatsapp {
  font-size: clamp(1rem, 20vw, 1.8rem);
  font-weight: bold;
}
.botao-de-whatsapp-container {
  position: fixed;
  bottom: 50px;
  right: 40px;
  width: clamp(10px, 17vw, 75px);
  border-radius: 100%;
  z-index: 100;
  transition: 0.3s;
}
.botao-de-whatsapp-container:hover {
  transform: translateY(-10px);
}

/* FOOTER */

footer {
  padding: 25px;
  text-align: center;
}
footer p {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.5);
}
.desenvolvedor {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.desenvolvedor:hover {
  border-bottom: 2px solid red;
}

@media (max-width: 1075px) {
  .navegacao {
    position: absolute;
    top: 92px;
    opacity: 0;
  }
  .navegacao.active {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;

    top: 92px;
    width: 80vw;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    opacity: 1;

    transition: 0.3s;
    z-index: 10;
  }
  .menu {
    display: flex;
  }
  header {
    justify-content: space-evenly;
    padding: 0 25px;
  }
}

@media (max-width: 600px) {
  .navegacao.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    top: 115px;
    width: 140px;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: 10;

    transform: scaleY(1);
  }
  header {
    flex-direction: column;
    gap: 25px;
  }
  .menu {
    font-size: 1.8rem;
    width: 35px;
    height: 35px;
  }
  .hero {
    transition: 0.3s;
  }
  .hero.active {
    height: 830px;
  }
  .texto-do-hero {
    top: 430px;
    left: 45px;
    transition: 0.5s;
  }
  .texto-do-hero.active {
    top: 550px;
  }
  .texto-do-hero p {
    padding-right: 50px;
  }
  .cta-dentro-do-header {
    font-size: 1.2rem;
    padding: 8px 0;
    width: 90%;
    transition: 0.5s;
  }
  .cta-dentro-do-header.hidden {
    display: none;
  }
  .cta-fora-do-header {
    padding: 10px 0;
    font-size: 1rem;
    width: 55vw;
  }
}
@media (max-width: 496px) {
  .texto-do-hero {
    top: 470px;
  }
  .texto-do-hero.active {
    top: 590px;
  }
  .hero {
    height: 780px;
  }
  .hero.active {
    height: 900px;
  }
}
@media (max-width: 360px) {
  .texto-do-hero {
    top: 430px;
  }
  .texto-do-hero.active {
    top: 550px;
  }
  .hero {
    height: 700px;
  }
  .hero.active {
    height: 820px;
  }
}